.u {
   &-center-text {
      text-align: center;
   }

   &-margin-bottom-small {
      margin-bottom: 2rem;
   }

   &-margin-bottom-medium {
      margin-bottom: 4rem;
   }

   &-margin-bottom-big {
      margin-bottom: 8rem;
   }

   &-margin-top-big {
      margin-top: 8rem;
   }

   &-margin-top-huge {
      margin-top: 10rem;
   }
}